<% include partials/header.ejs %>
<% include partials/navbar.ejs %>

  <section id="top-banner" class="section bg-intro intro-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 page-title">
          <h2>Register to get started!</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="main-content" class="section">
    <div class="container">
      <div class="row">

        <div class="col-md-offset-2 col-md-8">
          <form method="post" class="login-form">
            <fieldset class="form-group">
                <label for="firstName">First Name</label>
                <input name="firstName" class="form-control" type="text" required autofocus />
            </fieldset>
            <fieldset class="form-group">
                <label for="lastName">Last Name</label>
                <input name="lastName" class="form-control" type="text" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="phone">Phone</label>
                <input name="phone" class="form-control" type="text" required />
            </fieldset>
            <hr/>
            <fieldset class="form-group">
                <label for="username">Username</label>
                <input name="username" class="form-control" type="text" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="displayName">Display Name</label>
                <input name="displayName" class="form-control" type="text" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="password">Password</label>
                <input name="password" class="form-control" type="password" required />
            </fieldset>
            <fieldset class="form-group">
                <label for="email">Email</label>
                <input name="email" class="form-control" type="email" required />
            </fieldset>
            <fieldset class="form-group row">
              <div class="col-md-6">
                <input type="submit" class="btn btn-success" value="Submit"/>
              </div>
              <div class="col-md-6">
                <a href="/">
                  <input type="button" class="btn btn-default btn-cancel" value="Cancel"/>
                </a>
              </div>
            </fieldset>
          </form>
           <% if (messages.length > 0) { %>
              <div class="alert alert-danger"><%= messages %></div>
            <% } %>
        </div> 
      </div>
    </div>
  </section>

<% include partials/footer.ejs %>
