<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Add a new User</h1>
            <form method="post">
                <fieldset class="form-group">
                    <label for="surveyTitle">Survey Title: *</label>
                    <input type="text" name="surveyTitle" class="form-control"  required />
                </fieldset>
                <fieldset class="form-group">
                    <label for="surveyContent">surveyContent: *</label>
                    <input type="text" name="surveyContent" class="form-control"  required />
                </fieldset>
                <fieldset class="form-group">
                    <input type="hidden" name="idName" value="<%=displayName %>" class="form-control"  required />
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/survey">
                    <input type="button" class="btn btn-warning" value="Cancel"/>
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<% include ../partials/footer.ejs %>