<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

<section id="top-banner" class="section bg-intro intro-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 page-title">
        <h2>Add a new survey </h2>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <form method="post" class="login-form">
        <fieldset class="form-group">
          <label for="surveyTitle">Survey Title</label>
          <input type="text" name="surveyTitle" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Enter your first question</label>
          <input type="text" name="shortQuest1" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Enter your second question</label>
          <input type="text" name="shortQuest2" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Enter your third question</label>
          <input type="text" name="shortQuest3" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Enter your forth question</label>
          <input type="text" name="shortQuest4" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Enter your fifth question</label>
          <input type="text" name="shortQuest5" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group">
          <label for="surveyContent">Date till which </label>
          <input type="date" name="dateCreated" id="dateCreated">
        </fieldset>
        <fieldset class="form-group">
          <input type="hidden" name="displayName" value="<%=displayName %>" class="form-control"  required />
        </fieldset>
        <fieldset class="form-group text-right row">
          <div class="col-md-6">
            <input type="submit" class="btn btn-success" value="Save Survey" /> 
          </div>
          <div class="col-md-6">
            <a href="/survey">
              <input type="button" class="btn btn-del" value="Cancel"/>
            </a>                            
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
</section>

<% include ../partials/footer.ejs %>