<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Edit User</h1>
            <form method="post">
                <fieldset class="form-group">
                    <label for="surveyTitle">Survey Title: *</label>
                    <input name="surveyTitle" class="form-control" required value="<%= survey.surveyTitle %>" />
                </fieldset>
                <fieldset class="form-group">
                    <label for="surveyContent">Survey Content: *</label>
                    <input name="surveyContent" class="form-control"  required value="<%= survey.surveyContent %>" />
                </fieldset>
                <fieldset class="form-group">
                    <input name="idName" type="hidden" class="form-control"  required value="<%= survey.idName %>" />
                </fieldset>
                <fieldset class="form-group text-right">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a href="/survey/delete/<%= survey._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                    <a href="/survey">
                        <input type="button" class="btn btn-warning" value="Cancel"/>
                    </a>
                </fieldset>
            </form>
        </div>
    </div>

</main>
<% include ../partials/footer.ejs %>